<!--
// ******************************************************************************************
// Arroyo Auz Christian Xavier.                                                             *
// IEE7K5. GR-1.                                                                            *
// 29/06/2016.                                                                              *
// Deber#: 12.                                                                              *
// ******************************************************************************************-->


<configuration>
  <system.runtime.remoting>
    <application>
      <client>
        <wellknown  type="Componente.Componente, Componente" url="tcp://localhost:33000/Componente"/>
      </client>
      <channels>
        <channel ref="tcp" port="0">
          <clientProviders>
            <formatter ref="binary"/>
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>