<!--
// ******************************************************************************************
// Arroyo Auz Christian Xavier.                                                             *
// 29/06/2016.                                                                              *
// ******************************************************************************************-->


<configuration>
  <system.runtime.remoting>
    <application>
      <client>
        <wellknown  type="Componente.Componente, Componente" url="tcp://localhost:33000/Componente"/>
      </client>
    </application>
  </system.runtime.remoting>
</configuration>